.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  padding: 24px;
  row-gap: 40px;
}

.emotionBooks {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding-bottom: 20px;
}
