.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  padding: 10px 30px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.flex {
  flex: 1;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  max-width: 300px;
}
